PyYAML
PyPDF2
openpyxl
pymysql
openai
SQLAlchemy
langchain
langchain-openai
numpy
pandas
requests
fastapi
uvicorn
Jinja2
scipy
tqdm
orjson
matplotlib
langchain
langchain-core
langchain_openai
python-multipart
weasyprint
certifi
ipykernel
ipywidgets
httpx
pdfplumber
websockets

